html, body {
  font-family: Roboto, sans-serif;;
}
h2, th, td {
  text-align: center;
}
thead {
  background-color: #808080;
  color: #fff;
}
.row {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 15px 15px 25px 15px;
}
